body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070817;
    user-select: none;
}

.header-boxes {
    display: flex;
    width: 90%;
    height: auto;
    background-color: rgba(53, 65, 240, 0.519);
    backdrop-filter: blur(5.1px);
    border: 1px solid rgba(24, 35, 187, 0.588);
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    border-radius: 20px;
    font-family: "ahrefs";
    /* flex-direction: column; */
}

.header-text {
    display: flex;
    height: auto;
    font-family: "ahrefs";
}

.content-boxes {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0.5%;
    background-color: rgba(47, 60, 244, 0.36);
    backdrop-filter: blur(5.1px);
    border: 1px solid rgba(24, 35, 187, 0.588);
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    text-align: center;
    font-family: "ahrefs";
}

.info-content {
    font-size: 200%;
    margin: 1%;
    font-family: "ahrefs";
}

.content-buttons {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0.5%;
    cursor: pointer;
    background-color: rgba(47, 60, 244, 0.36);
    backdrop-filter: blur(5.1px);
    border: 1px solid rgba(24, 35, 187, 0.588);
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.4s;
    font-family: "ahrefs";
}

.content-buttons:hover {
    background-color: rgba(47, 60, 244, 0.552);
    letter-spacing: 1px;
    box-shadow: #192194 0px 0px 40px;
}

.button-content {
    font-size: 200%;
    margin: 1%;
    font-family: "ahrefs";
}

.image-content-box {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0.5%;
    background-color: rgba(47, 60, 244, 0.36);
    backdrop-filter: blur(5.1px);
    border: 1px solid rgba(24, 35, 187, 0.588);
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    text-align: center;
}

.info-images {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin: 1%;
}

@font-face {
  font-family: 'ahrefs'; /* Name you choose to use in CSS */
  src: url('font/ahrefs_regular.woff2') format('woff2'),
       url('font/ahrefs_regular.ttf') format('truetype'); /* Fallback format */
  font-weight: normal; /* Define the weight/style this file represents */
  font-style: normal;
  font-display: swap; /* Helps prevent render-blocking during load */
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 90%;
    height: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center; 
}

#cite {
    width: 90%;
    height: auto;
}